{% extends 'base.html' %}

{% block title %}Modifier la Chambre "{{ chambre.numero }}"{% endblock %}

{% block content %}
<div class="mt-4">
    <h1 class="text-center mb-4">Modifier la Chambre "{{ chambre.numero }}"</h1>

    <form method="post" class="w-50 mx-auto">
        {% csrf_token %}
        
        <!-- Champ pour le numéro de la chambre -->
        <div class="mb-3">
            <label for="id_numero" class="form-label">Numéro :</label>
            {{ form.numero }}
        </div>

        <!-- Champ pour la capacité -->
        <div class="mb-3">
            <label for="id_capacite" class="form-label">Capacité :</label>
            {{ form.capacite }}
        </div>

        <!-- Champ pour le statut -->
        <div class="mb-3">
            <label for="id_statut" class="form-label">Statut :</label>
            {{ form.statut }}
        </div>

        <!-- Boutons de soumission et d'annulation -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
            <a href="{% url 'foyer:liste_chambres' %}" class="btn btn-secondary">Annuler</a>
        </div>
    </form>
</div>
{% endblock %}